doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      p
        a(href="/documents/list") list documents
      p
        a(href="/documents/new") record new document
      p
        a(href="/") home
    block content
